:root {
  --duration: 1.1s; 
}

.header__logo_main {
  animation: fadeIn  var(--duration) ease-in-out;
  animation-iteration-count: 1;
}

.tab-animation{ 
    animation: var(--duration) cubic-bezier(.165,.015,0,.965) drop_hide;
    transition: .9s cubic-bezier(.165,.015,0,.965) ;
    position: relative;
      left: 0;
      &:hover {
        left: 42px;
        cursor: pointer;
      }
      &:hover:before {
        content: "";
        position: absolute;
        display: block;
        left: -42px;
        top: 14px;
        width: 29px;
        height: 2px;
        background-color: var(--color-text-main);
        pointer-events: none;
      }
}

.about__content, .cases__case {
  animation: var(--duration) cubic-bezier(.165,.015,0,.965) drop_hide;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes drop_hide{
  0%{
    transform: translateY(80px);
    opacity: 0;
    visibility: hidden;

  }
  50% {
    opacity: .5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
};