.container {
  justify-content: center;
}
.contacts {
  min-height: 55vh;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  justify-content: center;
  width: 65%;
  &__txt{
    margin: 0;
  }
}