.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  padding: 0;
  &__item {
    margin: 5px 10px;
    list-style: none;
    text-decoration: none;
    border: 2px solid #DADADA;
    padding: 3px 6px;
    white-space: nowrap;
    &:hover {
      transition-duration: 1.5s;
      border-color: var(--acent-color);
      cursor: pointer;
    }
    &:first-child, :last-child{
      margin: 5px 0;
    }
 }
}
