.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  &__logo {
    width: 205px;
    height: 60px;
  }
  &__wrapper {
    display: flex;
    align-content: center;
    width: 200px;
    justify-content: space-between;
  }
  &__lang{
    font-weight: 300;
    font-size: 18px;
    color: var(--color-text-main);
    display: flex;
    align-content: center;
  }
  &__themes {
    display: flex;
    align-content: center;
    &__btn {
      font-weight: 300;
      font-size: 18px;
      color: var(--color-text-main);
      padding: 0;
      border: none;
      background: none;
      outline: none;
      &:focus, :active {
        outline: none;
      }
    }
  }
  &__login {
    width: 65px;
    height: 23px;
    font-weight: 300;
    font-size: 18px;
    display: flex;
    align-content: center;
    white-space: nowrap;
    text-decoration: none;
    color: var(--color-text-main);
  }
}