.legal {
  margin: 4em 0;
  align-self: center;
  width: 65%;
  &__title_main {
    margin: 0 0 2em 0;
  }
  &__title {
    margin: 0;
  }
  &__subtitle {
    margin: 0;
    font-weight: 200;
  }
  &__txt{
    margin: 0;
    font-weight: 400;
  }
  &__rights-list{
    margin: 0;
    padding: 0 0 0 1.5em;
  }
  &__rights {
    margin-bottom: 5px;
  }
}