.legal {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin: 0 0 2em 0;
  align-self: center;
  width: 65%;
  &__title {
    text-align: center;
  }
  &__title_main {
    margin-bottom: 4em;
  }
  &__subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
  }
  &__txt {
    margin: 0;
    font-weight: 400;
  }
  &__rights-list{
    margin: 0;
    padding: 0 0 0 1.5em;
  }
  &__rights {
    margin-bottom: 5px;
  }
}