.legal {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  overflow-y: auto;
  width: 65%;
  margin-bottom: 2em;
  &__title {
    text-align: center;
  }
  &__title_main {
    margin-bottom: 3em;
  }
  &__subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
  }
  &__txt {
    margin: 0;
  }
  &__rights-list{
    margin: 0;
  }
  &__rights {
    margin-bottom: 5px;
  }
}