.team{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin-top: 4em;
  width: 65%;
  &__title {
    margin: 0 0 2em 0;
  }
  &__subtitle {
    margin: 0 0 .8em 0;
  }
  &__txt {
    margin: .1em 0;
    word-wrap: break-word;
  }
}