.team{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin: 2em 0 ;
  width: 65%;
  &__title {
    margin: 0 0 1em 0;
  }
  &__txt {
    margin: 0;
    line-height: 24px;
    word-wrap: break-word;
  }
}