@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;700&display=swap');
@import "reboot.min";
@import "titles";
@import "header";
@import "about";
@import "footer";
@import "contacts";
@import "legal";
@import "team";
@import "blog";
@import "docs";
@import "cases";
@import "animation";
@import "color-theme";
@import "modal";
@import "media";


body {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2em;
}

body,html {
  height: 100%;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer, header {
  flex: 0 0 auto;
  flex-grow: 0;
  margin: 2em 0;
}
header {
  min-height: 15vh;
}
main {
  flex: 1 0 auto;
  margin-top: 4em 0;
}

.dev {
  padding-bottom: 4em;
}